body {
    background-color: powderblue;
    color: black;
        font-family: "roboto", sans-serif;
        margin: 0;
        padding: 0 var(--spacing-3);
        max-width: 900px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        
        }
}

html, body {
		height: 100%;
    scroll-behavior: smooth;
    height: 100%;
    color: var(--font-color);
    background-image:none;
}
nav {
    display: flex;
    align-items: center;
    padding: var(--spacing-3) 0;
  }
  img {
    flex-shrink: 0;
  }
  .navigation-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
    margin-left: auto;
  }
  
  .navigation-item {
    margin: var(--spacing-1);

  }

  footer {
    margin-top: auto;
    padding: var(--spacing-2) 0;
    text-align: center;
    

  }
  h2 {
        cursor: pointer;
  }

  #logo {
    margin: 0;
  }

  h1 {
    color: rgb(25, 12, 207);
  }
  
 h1:hover{
    color: rgb(61, 233, 18);
  }
  h3{
      text-align: center;
  }
  #error{
    text-align: center;
  }